// Button buy
.btn--white
    color white
    text-decoration: none
.btnComprar
    --btnX 1em
    --btnY 2em
    background btn
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius 1.5em
    color #222222
    display inline-block
    font-weight 800
    margin-top 0.5em
    padding-top var(--btnX)
    padding-bottom var(--btnX)
    padding-left var(--btnY)
    padding-right var(--btnY)
    text-decoration none
    transition all 0.5s ease
    &:hover
        background btnDark
.buyer
    p
        margin 2px
        font-size: 0.9em
.buy_btn
    padding-top 0.5em
.buyer--color
    color sushi
.buyer__price
        font-size: 1.1em
.buyer--text-small
.buyeroldPrice
    font-size: 0.9em
.buyeroldPrice
    text-decoration: line-through