avocado = #466708
lBar = #0e232e80
noBlack = #1E1F1C
nori = #0E232E
star = #FFA41C
btn = #FFD814
btnDark = #F7CA00
sushi = #EC3A41
sushiLight = #EE6870
sushiOrange = #FF3300
text = #1E1F1C
white = #fff