:root
    --card__elements 200px
    html
        scroll-behavior smooth
    body
        box-sizing border-box
        color text
        font-family sans-serif
        font-size 16px
        margin 0
        padding 0
    figure
        margin 0
        padding 0
    .avocado_color
        color avocado
    .ebook
        max-width 450px
        width 100%
    .pt2
        padding-top 2em
    .mx425
        margin auto
        max-width 425px
    .mx768
        margin auto
        max-width 768px
        padding 0 2em
    .mx1024
        margin auto
        max-width 1024px
    .pxem
        padding 0 2em
    .pxem0
        padding 0
    .pyem
        padding 2em 0
    .pyem0
        padding 0
    .star
        color star
    .sushi_color
        color sushi
    .sushiLight_color
        color sushiLight
    .sushiOrange_color
        color sushiOrange
    .white
        color white