.intro
    background-image url("../img/bgSushi.webp")
.intromx
    align-content  center
    display flex
    flex-direction columns
    justify-content flex-end
    max-width 1024px
    margin auto
    padding 2em 0
.mx425
    max-width 425px
    padding 2em
.intro__roll
    max-width 250px