@import "colors"
@import "nib/vendor"
@import "gradients"

@import "global"
@import "bem"

@import "header"
@import "parallax"
@import "intro"
@import "objections"
@import "course"
@import "teacher"
@import "coustomer"
@import "califications"
@import "testimonials"
@import "warranty"

@import "mediaQuery"
vendor-prefixes = o ms moz webkit