.small
    font-size .5em
    margin 0
    color white
.teacher
    --size 0.5em
    background black
    color #fff
    img
        max-width: 250px
.teacher__info
    order 1
    padding 3em 2em
    h2
        font-size: 2.5em
        margin-bottom 0.5em
.teacher__img
    order 2
    padding 2em
.teacher__size
    display grid
    grid-template-columns 2fr 1fr
    align-items center