.warranty
    background #000
    color white
    background-origin border-box
    background-position bottom
    background-repeat no-repeat
    background-image url("../img/footerImg.png")
    background-size cover
    font-size 0.9em
    padding 3em 2em
    text-align: center
.warranty__blocks
    align-items center
    justify-content center
    display flex
    flex-direction columns
    flex-wrap wrap
    img
        display block
        margin auto
        width: 120px
        padding 1em