<meta name="p:domain_verify" content="c13ea5dbb7c0cc239631dc27001b6b2f"/>

<meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">

//- Google snippets
<meta name="description" content="Imagina preparar el mejor Sushi Roll, guiado por chef 'Gonzalo Vidal' para que puedas compartilo con tu familia y amigos o para tu nuevo negocio">
<meta name="keywords" content="Sushi, Rolls express, makis, urimak, temak, nori, sushi lover, curso online de sushi, curso de sushi, curso preparar sushi, hacer sushi en casa">
<meta name="copyright" content="Sushi Founder" />

//- Facebook open Graph
<meta property="og:url" content="http://sushifounder.com" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Sushi Founder" />
<meta property="og:title" content="Imagina preparar el mejor Sushi Roll, guiado por chef 'Gonzalo Vidal' para que puedas compartilo con tu familia y amigos o para tu nuevo negocio" />
<meta property="og:description" content="Imagina preparar el mejor Sushi Roll, guiado por chef 'Gonzalo Vidal' para que puedas compartilo con tu familia y amigos o para tu nuevo negocio" />
<meta property="og:description" content="Sé parte de las miles de personas que están aprendiendo el paso a paso en un curso online práctico y sencillo" />
<meta property="og:image" content="http://sushifounder.com/img/openGraph.png" />

//- Twitter Cards
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@sushifounder">
<meta name="twitter:creator" content="@sushifounder">
<meta name="twitter:title" content="Imagina preparar el mejor Sushi Roll, guiado por chef 'Gonzalo Vidal' para que puedas compartilo con tu familia y amigos o para tu nuevo negocio">
<meta name="twitter:description" content="Sé parte de las miles de personas que están aprendiendo el paso a paso en un curso online práctico y sencillo.">
<meta name="twitter:image" content="http://sushifounder.com/img/openGraph.png">