.buyer
    a(href="" rel="next nofollow" target="_self").btn--white
        p Precio recomendado:	
            span.buyeroldPrice
                |   USD $45.00
        p Precio:
            span.buyer__price.buyer--color
                |   USD $25.00
        p Ahorras:	
            span.buyer--color.buter--text-small
                |   USD $15.00 (+ 55%)
a(href="" rel="next nofollow" target="_self").btnComprar
        i.fas.fa-shopping-cart
        |   Comprar ahora