section.califications
    .certificate
        img(src="./img/certificate.png" rel="" alt="").certificate--img1
    .certificate
        img(src="./img/infography.jpg" rel="" alt="").certificate--img2
    .califications__box
        h2 Calificaciones
        i(class="fas fa-star fa-x" aria-hidden="true").star
        i(class="fas fa-star fa-x" aria-hidden="true").star
        i(class="fas fa-star fa-x" aria-hidden="true").star
        i(class="fas fa-star fa-x" aria-hidden="true").star
        i(class="fas fa-star-half-alt fa-x" aria-hidden="true").star
            span.rate--white 4.8
        p.rate__txt.top--rate 854
            span.plus
                |+ 
            | Calificaciones 
        p.rate__txt 211
            span.plus
                |+ 
            | preguntas respondidas
        .buyer.pt2
            a(href="" rel="next nofollow" target="_self").btn--white
                p Precio recomendado:	
                    span.buyeroldPrice
                        |   US$45.00
                p Precio:
                    span.buyer__price.buyer--color
                        |   US$25.00
                p Ahorras:	
                    span.buyer--color.buter--text-small
                        |   US$15.00 (+ 55%)
        a(href="" rel="next nofollow" target="_self").btnComprar
                i.fas.fa-shopping-cart
                |   Comprar ahora
