section.course
    .course__title
        h2 Lo sueñas, lo cocinas
        h3 ¿Qué vas a aprender en este curso?
    .course__topics
        .course__topic
            img(src="./img/herramientas.png" alt="herramientas sushi maki" loading="lazy")
            h2.topic__top Herramientas 
                br
                |   Básicas
            h3.topic__down 
                i(class="fas fa-briefcase fa-x" aria-hidden="true")
                |   Instrumentos para preparar Sushi
        .course__topic
            img(src="./img/arroz.png" alt="arroz para sushi" loading="lazy")
            h2.topic__top El arroz
            h3.topic__down 
                i(class="fas fa-seedling fa-x" aria-hidden="true") 
                |   El arroz
                br
                i(class="fas fa-seedling fa-x" aria-hidden="true")
                |   Lavado del arroz 
                br
                i(class="fas fa-seedling fa-x" aria-hidden="true")
                |   Cocción del arroz 
                br
                i(class="fas fa-seedling fa-x" aria-hidden="true")
                |   El vinagre 
                br
                i(class="fas fa-seedling fa-x" aria-hidden="true")
                |   Arroz y vinagre 
        .course__topic
            img(src="./img/vegetables.png" alt="verduras para sushi roll" loading="lazy")
            h2.topic__top Verduras 
                br
                |   salteadas
            h3.topic__down 
                i(class="fas fa-carrot fa-x" aria-hidden="true") 
                |   Roll vegetariano
                br
                i(class="fas fa-carrot fa-x" aria-hidden="true")
                |   Champiñones salteados 
        .course__topic
            img(src="./img/nori.png" alt="nori algas para sushi" loading="lazy")
            h2.topic__top Plaquetas
            h3.topic__down
                i(class="fas fa-align-justify fa-x" aria-hidden="true") 
                |   Plaqueta palta - avocado
                br
                i(class="fas fa-align-justify fa-x" aria-hidden="true")
                |   Plaqueta queso crema 
        .course__topic
            img(src="./img/salmon.png" alt="salm[on  y sashimi para sushi maki" loading="lazy")
            h2.topic__top Salmón
            h3.topic__down
                i(class="fas fa-fish fa-x" aria-hidden="true") 
                |   Corte de salmón
                br
                i(class="fas fa-fish fa-x" aria-hidden="true")
                |   Corte de sashimi
        .course__topic
            img(src="./img/rollsClasic.png" alt="sushi maki clasicos" loading="lazy")
            h2.topic__top Rolls clásicos
            h3.topic__down 
                i(class="fas fa-database fa-x" aria-hidden="true") 
                |   Roll tempura
                br
                i(class="fas fa-database fa-x" aria-hidden="true")
                |   Roll furay-panko
        .course__topic
            img(src="./img/rolls.png" alt="sushi frito maki" loading="lazy")
            h2.topic__top Rolls fritos
            h3.topic__down 
                i(class="fas fa-database fa-x" aria-hidden="true") 
                |   California roll
                br
                i(class="fas fa-database fa-x" aria-hidden="true")
                |   Avocado roll
                br
                i(class="fas fa-database fa-x" aria-hidden="true")
                |   Roll envuelto en salmón
                br
                i(class="fas fa-database fa-x" aria-hidden="true")
                |   Hosomaki roll
                br
                i(class="fas fa-database fa-x" aria-hidden="true")
                |   Nigiri de salmón
                br
                i(class="fas fa-database fa-x" aria-hidden="true")
                |   Roll vegetariano
                br
                i(class="fas fa-database fa-x" aria-hidden="true")
                |   Roll vegetariano emplatado
        .course__topic
            img(src="./img/sause.png" alt="salsas y acompañamientos para sushi" loading="lazy")
            h2.topic__top Salsas
            h3.topic__down 
                i(class="fas fa-glass-whiskey fa-x" aria-hidden="true") 
                |   Salsa teriyaki
                br
                i(class="fas fa-glass-whiskey fa-x" aria-hidden="true")
                |   Salsa satay
                br
                i(class="fas fa-glass-whiskey fa-x" aria-hidden="true")
                |   Salsa ají amarillo
                br
                i(class="fas fa-glass-whiskey fa-x" aria-hidden="true")
                |   Salsa acevichada
                br
                i(class="fas fa-glass-whiskey fa-x" aria-hidden="true")
                |   Salsa ponzu