.coustomer
    .coustomer__info
        i(class="fas fa-calendar-alt fa-2x" aria-hidden="true").sushi_color
        h3 Experiencia
        p Tenemos más de 6 años de experiencia junto a miles de personas
    .coustomer__info
        i(class="fas fa-book-open fa-2x" aria-hidden="true").sushi_color
        h3 Acceso de por vida
        p Aprende y disfruta desde cualquier dispositivo y en el horario que quieras
    .coustomer__info
        i(class="fas fa-certificate fa-2x" aria-hidden="true").sushi_color
        h3 Garantía
        p Con una garantía de (7 días) para que puedas sacar el mejor provecho
    .coustomer__info
        i(class="fas fa-credit-card fa-2x" aria-hidden="true").sushi_color
        h3 Pago Único
        p Un pago único y fácil con acceso vitalicio y sin matrículas
    .coustomer__info
        i(class="fas fa-piggy-bank fa-2x" aria-hidden="true").sushi_color
        h3 Ahorro
        p Sin inversiones grandes en materiales o indumentaria
    .coustomer__info
        i(class="fas fa-certificate fa-2x" aria-hidden="true").sushi_color
        h3 Certificación
        p Al finalizar tu curso, recibirás tu certificación de Sushi Rolls
.arrows
    .arrow-right
        i(class="fas fa-arrow-right fa-2x" aria-hidden="true").arrow--right
    .arrow-left
        i(class="fas fa-arrow-left fa-2x" aria-hidden="true").arrow--left