header.header
    div.pxem.mx768.header__block
        img(src="img/logo.svg" alt="Sushi founder logo").imgLogo
        h1 Imagina aprender a convertir un Sushi Roll como un "allyoucaneat" en un negocio exitoso
        h2 Disfruta y aprende a hacer los cortes, salsas, y mucho más en el curso online paso a paso del chef Gonzalo Vidal y sé el mejor sushiman
        .objections__video
            video(controls preload="none" poster='./img/videoCover.webp').video
                source(src='./video/curso_de_sushi_rolls.mp4' type='video/mp4')
        //- a(href="https://hotm.art/headBtn" rel="nofollow noopener next" target="_self").start Comprar ahora USD $25
        //-     i(class="fas fa-shopping-cart fa-x" aria-hidden="true").header__i--margin