main.header
    div.pxem.mx768
        img(src="img/logo.svg" alt="" rel="").imgLogo
        //- h1AbOriginal
        //- h1 Aprendehoy a preparar tu propio Sushi como un experto. El Chef Itamae “Gonzalo Vidal” te enseña paso a paso por medio de un curso online
        //- h1AbTesting
        h1 Disfruta en casa el mejor Sushi preparándolo tú mismo paso a paso con el 
            span.sushiOrange_color CURSO 
            | de Sushi Rolls del Chef Itamae “Gonzalo Vidal”

        //- h2AbOriginal
        //- h2 Sé parte del curso profesional de Sushi Rolls para que puedas disfrutar cuando quieras, de este plato Japonés que es consumido por millones de personas en el mundo
        //- h2AbTesting
        h2 Sé parte de las miles de personas que comparten este plato Japonés con tu familia, amigos, pareja o hazlo parte un negocio
        //- a(href="https://go.hotmart.com/B62816719A?ap=a70f&src=websiteDirect" rel="" target="_blank")
        img(src="img/sushiSoloTT.png" alt="").pxem0.imgProfile