main.header
    div.pxem.mx768
        img(src="img/1920w.webp" alt="" rel="").imgLogo
        h1 Aprende a preparar tu propio Sushi como un experto. El Chef Itamae “Gonzalo Vidal” te enseña paso a paso por medio de un curso online
        h2.sushi_color Ingresa hoy a un curso profesional con más de 40 lecciones en video y 15 recursos adicionales, con una comunidad en redes sociales de más de 200.000 seguidores y miles de estudiantes.
        img(src="img/chef.webp" alt="" rel="").pxem0.imgProfile
    i(class="fas fa-star fa-2x" aria-hidden="true").star
    i(class="fas fa-star fa-2x" aria-hidden="true").star
    i(class="fas fa-star fa-2x" aria-hidden="true").star
    i(class="fas fa-star fa-2x" aria-hidden="true").star
    i(class="fas fa-star fa-2x" aria-hidden="true").star
    .action
        i(class="fas fa-angle-double-down fa-2x" aria-hidden="true").action__arrow

