header.header
    div.pxem.mx768.header__block
        img(src="img/logo.svg" alt="Sushi founder logo").imgLogo
        //- h1AbOriginal
        h1 Imagina preparar el mejor Sushi Roll, guiado por chef 'Gonzalo Vidal' para que puedas compartilo con tu familia y amigos o para tu nuevo negocio
        //- h1 Prepara el mejor Sushi Roll, junto al chef 'Gonzalo Vidal' para que puedas disfrutarlo y compartilo o para tu nuevo negocio
        .objections__video
            video(controls preload="none" poster='./img/fbCover.webp').video
                source(src='./video/curso_de_sushi_rolls.mp4' type='video/mp4')
        //- h2 Sé parte de las miles de personas que están aprendiendo el paso a paso en un curso online práctico y sencillo
        a(href="https://hotm.art/headBtn" rel="nofollow noopener next" target="_self").start Comprar ahora USD $25
            i(class="fas fa-shopping-cart fa-x" aria-hidden="true").header__i--margin
        //- img(src="img/sushiSoloTT.webp" alt="Sushi maki roll" loading="lazy").pxem0.imgProfile