.header
    div.pxem
        img(src="img/logoPngSushi.png" alt="" rel="").imgLogo
        h1 ¿Cómo hacer sushi en casa?
        h2 Vas a aprende online a preparar la mejor comida Japonesa, en un curso fácil y completo de Sushi rolls
        a(href="" rel="").btnComprar Comprar Ahora