header.header
    div.pxem.mx768.header__block
        img(src="img/logo.svg" alt="Sushi founder logo").imgLogo
        //- h1AbOriginal
        h1 Imagina preparar el mejor Sushi Roll, guiado por chef 'Gonzalo Vidal' para que puedas compartilo con tu familia y amigos o para tu nuevo negocio
        h2 Sé parte de las miles de personas que están aprendiendo el paso a paso en un curso online práctico y sencillo
        a(href="#casa_o_negocio" rel="nofollow noopener next" target="_self").start Comienza ahora
            i(class="fas fa-angle-double-right fa-x" aria-hidden="true").header__i--margin
        img(src="img/sushiSoloTT.png" alt="Sushi maki roll" loading="lazy").pxem0.imgProfile