header.header
    div.pxem.mx768.header__block
        img(src="img/logo.svg" alt="Sushi founder logo").imgLogo
        h1 Disfruta y aprende hacer unos increibles Sushi Rolls, los cortes, salsas, las preparaciones y mucho más para principiantes en el curso online paso a paso del chef Gonzalo Vidal
        .objections__video
            video(controls preload="none" poster='./img/videoCover.webp').video
                source(src='./video/curso_de_sushi_rolls.mp4' type='video/mp4')
        //- a(href="https://hotm.art/headBtn" rel="nofollow noopener next" target="_self").start Comprar ahora USD $25
        //-     i(class="fas fa-shopping-cart fa-x" aria-hidden="true").header__i--margin