section.intro
    .intromx
        .mx768
            //- h3 Si has pensado en estudiar Gastronomía, sea por hobby, por alimentarte mejor o porque quieres desarrollar un emprendimiento, este curso te va a dar una base sólida para que comiences hoy mismo este camino.
            h3 Tu puedes aprender várias técnicas para preparar los mejores Sushi Rolls en sabor y estética, con la seguridad de que todos los ingredientes estarán frescos pues los harás tú mismo.
            a(href="" rel="next nofollow" target="_self").btnIngresar ¡Quiero ingresar!
        .mx425
            img(src="./img/maki.png" alt="sushi maki" rel="" loading="lazy").intro__roll