main.intro
    .intromx
        .mx768
            h3 Tú puedes aprender hoy con este curso varias técnicas para preparar los mejores Sushi Rolls en sabor y estética, para lograr el siguiente paso haciendo Rolls express, makis, urimak, temaki y muchos más para que tengas tu própio grupo de sushi fans.
        .mx425
            a(href="#parati" rel="noopener nofollow next")
                img(src="./img/maki.webp" alt="sushi maki" loading="lazy").intro__roll