//- .master
//-     .lateralBar
//-         p
//-             a(href="#")
//-                 i(class="fas fa-home fa-lg" aria-hidden="true")
//-         p
//-             a(href="#")
//-                 i(class="fas fa-address-book fa-lg" aria-hidden="true") 
//-         p
//-             a(href="#")
//-                 i(class="fas fa-book-open fa-lg" aria-hidden="true") 
//-         p
//-             a(href="#")
//-                 i(class="fas fa-bookmark fa-lg" aria-hidden="true") 
//-         p
//-             a(href="#")
//-                 i(class="fas fa-calendar fa-lg" aria-hidden="true") 
//-         p
//-             a(href="#")
//-                 i(class="fas fa-cart-plus fa-lg" aria-hidden="true") 
//-         p
//-             a(href="#")
//-                 i(class="fas fa-check-circle fa-lg" aria-hidden="true") 
//-         p
//-             a(href="#")
//-                 i(class="fas fa-database fa-lg" aria-hidden="true") 