a(href="https://api.whatsapp.com/send?phone=573507402009&text=Hola,%20Sushi%20Founder%20%F0%9F%8D%A3%20Quiero%20saber%20m%C3%A1s%20del%20curso" rel="next nofollow" target="_self").btnFloat
    i(class="fab fa-whatsapp fa-2x" aria-hidden="true") 
        //- br.btnComprar
        //- span.btnFloatTxt
        //-     | WhatsApp