section.mx768.pxem.intro
    h3  Aprende con el chef Itamae junto a Gonzalo Vidal a preparar los mejores rolls express, makis, urimak, temaki y mucho más en un curso completo más el EBOOK en pdf que contiene todas las recetas y la CERTIFICACIÓN ONLINE
.maya.maya__top
    h2.maya--noriBackground Clases del curso Sushi rolls 
        br
        i(class="fas fa-bookmark fa-x" aria-hidden="true")        
.maya
    .maya__card
        h2.maya--noriBackground Herramientas Basicas
        h3.maya--whiteBackground Instrumentos para preparar Sushi
        i(class="fas fa-arrow-down fa-x" aria-hidden="true")
        h2.maya--noriBackground El arroz
        .card__box4
            h3.maya--whiteBackground Lavado del arroz
            h3.maya--whiteBackground Cocción del arroz
            h3.maya--whiteBackground El vinagre
            h3.maya--whiteBackground Arroz y vinagre
        h2.maya--noriBackground Verduras salteadas
        .card__box2
            h3.maya--whiteBackground Roll vegetariano
            h3.maya--whiteBackground Champiñones salteados
    .maya__card
        h2.maya--noriBackground Salmón
        h3.maya--whiteBackground Corte de salmón
        h3.maya--whiteBackground Corte de sashimi
        i(class="fas fa-arrow-down fa-x" aria-hidden="true")
        h2.maya--noriBackground Plaquetas
        h3.maya--whiteBackground Plaqueta palta - avocado
        h3.maya--whiteBackground Plaqueta queso crema
    .maya__card
        h2.maya--noriBackground Rolls clásicos
        h3.maya--whiteBackground California roll
        h3.maya--whiteBackground Avocado roll
        h3.maya--whiteBackground Roll envuelto en salmón
        h3.maya--whiteBackground Hosomaki roll
        h3.maya--whiteBackground Nigiri de salmón
        h3.maya--whiteBackground Roll vegetariano
        h3.maya--whiteBackground Roll vegetariano emplatado
    .maya__card
        h2.maya--noriBackground Rolls fritos
        h3.maya--whiteBackground Roll tempura
        h3.maya--whiteBackground Roll furay-panko
        i(class="fas fa-arrow-down fa-x" aria-hidden="true")
        h2.maya--noriBackground Salsas para acompañar
        .card__box4
            h3.maya--whiteBackground Salsa teriyaki
            h3.maya--whiteBackground Salsa satay
            h3.maya--whiteBackground Salsa ají amarillo
            h3.maya--whiteBackground Salsa acevichada
        h3.maya--whiteBackground Salsa ponzu
.maya.maya__bottom
    h2.maya--noriBackground Certificación al finalizar 
        i(class="fas fa-bookmark fa-x" aria-hidden="true")