.objections
    .objections__video
        video(controls preload="none" poster='./img/fbCover.png').video
            source(src='./video/curso_de_sushi_rolls.mp4' type='video/mp4')
    .objections__txt
        h2 Este curso es para ti si
        ul
            li Eres aficionado a la cocina.
            li Eres chef.
            li Quieres aprender una nueva habilidad.
            li No tienes experiencia en la preparación del Sushi.
            li Tienes experiencia básica con la preparaci[on del Sushi.
            li Quieres poner un negocio.
            li Quieres prepara sushi vegetariano.
            li Quieres alternativas en los mariscos y pescados.
            li quieres aprender tus propias salsas.
        a(href="" rel="next nofollow" target="_self").btnIngresar 
                i.fas.fa-shopping-cart
                |   ¡Quiero ingresar!