.objections#parati
    .objections__video
        video(controls preload="none" poster='./img/fbCover.png').video
            source(src='./video/curso_de_sushi_rolls.mp4' type='video/mp4')
    .objections__txt
        h2 Este curso es para ti si cumples cualquiera de estos:
        ul.objections--list
            li Eres aficionado o te gusta a la cocina.
            li Eres chef.
            li Trabajas en un restaurante.
            li Quieres aprender una nueva habilidad culinaria.
            li No tienes experiencia en la preparación del Sushi.
            li Tienes experiencia básica con la preparación del Sushi.
            li Quieres poner un negocio.
            li Te gustaría preparar sushi vegetariano.
            li Quieres preparar sushi de pescado y/o mariscos.
            li Deseas alternativas en los mariscos y/o pescados.
            li Buscas aprender a hacer tus propias salsas.
        .buy_btn
            .buyer
                a(href="" rel="next nofollow" target="_self").btn--white
                    p Precio recomendado:	
                        span.buyeroldPrice
                            |   US$45.00
                    p Precio:
                        span.buyer__price.buyer--color
                            |   US$25.00
                    p Ahorras:	
                        span.buyer--color.buter--text-small
                            |   US$15.00 (+ 55%)
            a(href="" rel="next nofollow" target="_self").btnComprar
                    i.fas.fa-shopping-cart
                    |   Comprar ahora