section.parallax#casa_o_negocio
    .container
        h2 ¿Por qué hacer sushi en casa o para un negocio?
        h3 Es un plato muy apetecido en el mundo que puede ser preparado por cualquier persona con los ingredientes que tú quieras y aún precio razonable
