section.parallax#header
    .container
        h2.h2transition ¿Cómo hacer sushi en casa?
        //- h3 Hoy puedes aprender a hacer los mejores Sushi Rolls express, makis, urimak, temaki y mucho más, en un curso completo en video más el libro en PDF que contiene todas las recetas para disfrutar.
        h3 Cualquier momento es bueno para aprender gastronomía y la elaboración de Sushi desde tu casa, sea por hobby, por alimentarte mejor o porque quieres desarrollar  o tienes un negocio; al ingresar ahora vas a lograr bases sólidas para que comiences hoy mismo este camino