<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPDNXHN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- anti-flicker snippet (recommended)  -->
//- <style>.async-hide { opacity: 0 !important} </style>
//- <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
//- h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
//- (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
//- })(window,document.documentElement,'async-hide','dataLayer',4000,
//- {'GTM-PPDNXHN':true});</script>

script(type='text/javascript').
    var sc_project=12707584;
    var sc_invisible=1;
    var sc_security="8ee05d6c";
script(type='text/javascript' src='https://www.statcounter.com/counter/counter.js' async='')
noscript
    .statcounter
        a(title='Web Analytics' href='https://statcounter.com/' target='_blank')
            img.statcounter(src='https://c.statcounter.com/12707584/0/8ee05d6c/1/' alt='Web Analytics' referrerpolicy='no-referrer-when-downgrade')

//- <script type="text/javascript">
//- var sc_project=12707584; 
//- var sc_invisible=1; 
//- var sc_security="8ee05d6c"; 
//- </script>
//- <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
//- <noscript>
//-     <div class="statcounter">
//-         <a title="Web Analytics" href="https://statcounter.com/" target="_blank">
//-             <img class="statcounter" src="https://c.statcounter.com/12707584/0/8ee05d6c/1/" alt="Web Analytics" referrerPolicy="no-referrer-when-downgrade">
//-         </a>
//-     </div>
//- </noscript>