section.imgFull
    .container
        h3 Si has pensado siempre en estudiar Gastronomía, sea por hobby, por alimentarte mejor o porque quieres desarrollar un emprendimiento, este curso te va a dar una base sólida para que comiences hoy mismo este camino.
    script.
        console.log(4*5)
        alert("Sushi Expert")