section.mx768.pxem.pxem
    h3  Aprende con el chef Itamae junto a Gonzalo Vidal a preparar los mejores rolls express, makis, urimak, temaki y mucho más en un curso completo más el EBOOK en pdf que contiene todas las recetas y la CERTIFICACIÓN ONLINE
    img(src="./img/ebook.webp" alt="").ebook

section.gallery
    .galleyCard
        a(href="#" rel="")
            img(src="./img/pexels-photo-5878433.jpeg" alt="")
            h2 Experiencia
            p Tenemos más de 6 años de experiencia. Este curso de elaboración de Sushi Rolls ya lo han tomado miles de personas, emprendedores y entusiastas que se quieren capacitar y aprender. Tu profesor es un reconocido profesional en el mundo de la Cocina Asiática y te compartirá excolentes técnicas de enseñanza para que aprendas desde cero a preparar sushi como un verdadero maestro de sushi.
    .galleyCard
        a(href="#" rel="")
            img(src="./img/pexels-photo-5878433.jpeg" alt="")
            h2 Acceso Ilimitado
            p El curso de Sushi Rolls no tiene limites Podrás acceder a él desde cualquier dispositivo y en el horario que más te acomode. Es un acceso vitalicio al mejor curso de elaboración de Sushi Rolls del mercado.
    .galleyCard
        a(href="#" rel="")
            img(src="./img/pexels-photo-5878433.jpeg" alt="")
            h2 Garantía
            p Si este curso de Sushi Rolls no llena tus expectativas luego de 7 dias de realizada tu compra, te devolveremos el 100% de tu dinero. No encontrarás osta garantia en ningún otro curso disponible en el mercado.
    .galleyCard
        a(href="#" rel="")
            img(src="./img/pexels-photo-5878433.jpeg" alt="")
            h2 Pago Unico
            p Sin pagos mensuales, sin matriculas. Un pago único y acceso vitalicio Asi de rapido y facil es comenzar tu nuevo aprendizaje.
    .galleyCard
        a(href="#" rel="")
            img(src="./img/pexels-photo-5878433.jpeg" alt="")
            h2 Ahorro
            p No será necesario trasladarte o invertir grandes sumas de dinero en materiales o indumentaria para tomar el curso. Este curso de Sushi Rolls lo hemos diseñado para que te capacites y aprendas como un profesional, pero en la comodidad de tu propio espacio y desde cero adaptado a todos los niveles de cocina desde amateur a avanzado.
    .galleyCard
        a(href="#" rel="")
            img(src="./img/pexels-photo-5878433.jpeg" alt="")
            h2 Certificación
            p Al finalizar tu curso, recibirás automáticamento tu certificación de Sushi Rolls. Nuestra experiencia a través de los años y miles de alumnos avalan todos los contenidos de tu curso, los cuales están explicados de forma muy clara y explicativa por tu profesor de Sushi, quien traspasará toda su experiencia para que puedas aprender de mejor forma todo lo que necesitas saber para elaborar increibles Sushis Sin duda, no encontrarás algo asi en el mercado.