section.teacher
    .teacher__size.mx1024
        .teacher__info
            h2.sushi_color Gonzalo Vidal 
                small.small "Tu profe"
            p Administrador gastronómico. Tiene un vasto conocimiento de 10 años en el rubro de la cocina internacional. Se ha desempeñado en distintos cargos de cocina, tales como sous chef y profesor en distintos restaurantes, banqueteras y hoteles. Teniendo como su especialidad en el área de comida japonesa y sushi.
            p Gonzalo ha sido capaz de ir conociendo y creando distintas técnicas para realzar el sabor de sus preparaciones y así también facilitar el aprendizaje de sus alumnos entregándoles las herramientas necesarias para transmitirles los conocimientos de forma fácil y efectiva.
                    .buy_btn
                    .buy_btn
            .buyer
                a(href="https://hotm.art/BtnTeacher" rel="next nofollow noopener" target="_self").btn--white
                    p Precio recomendado:	
                        span.buyeroldPrice
                            |   USD $45.00
                    p Precio:
                        span.buyer__price.buyer--color
                            |   USD $25.00
                    p Ahorras:	
                        span.buyer--color.buter--text-small
                            |   USD $15.00 (+ 55%)
            a(href="https://hotm.art/BtnTeacher" rel="next nofollow noopener" target="_self").btnComprar
                    i.fas.fa-shopping-cart
                    |   Comprar ahora
        .teacher__img
            img(src="./img/chef.webp" alt="Gonzalo vidal, hotmart curso de sushi rolls" loading="lazy")