doctype html
html(lang='es')
  head
    title Sushi Founder | Imagina preparar el mejor Sushi Roll
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1 user-scalable=no')
    meta(name="twitter:title" content="Sushi Founder")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel="icon" href="img/logo.svg")

    link(href='css/styles.css' rel='stylesheet')
    link(src='js/scripts__head.js')
    link(src='js/api__hotmart.js')
    include boilerplate
    include scripts__head
    include gtm__head
  body
    script(type='text/javascript' src='js/scripts__body.js')
    include gtm__body
    include scripts__body
    include header
    include parallax
    include intro
    include objections
    include course
    include teacher
    include coustomer
    include califications
    include testimonials