.testimonials.mx1024
    .testimons
        .testimons__block
            i(class="fas fa-star fa-x" aria-hidden="true").star  5
            h3 JIMMY. 27 DE DIC DE 2021
        p Muy buena, lo que seria mejor es que el alumno participara para preguntar cualquier duda al momento
    .testimons
        .testimons__block
            i(class="fas fa-star fa-x" aria-hidden="true").star  5
            h3 HEISON. 1 DE NOV DE 2021
        p Buenos día,fue excelente los videos y las clases hojala nos dejen los videos de las clases por si tenemos dudas gracias
    .testimons
        .testimons__block
            i(class="fas fa-star fa-x" aria-hidden="true").star  5
            h3 GIOVANI. 24 DE JUL DE 2021
        p Excelente el curso de sushi, me gusto gracias!!
    .testimons
        .testimons__block
            i(class="fas fa-star fa-x" aria-hidden="true").star  5
            h3 IDALIA. 15 DE MAY DE 2021
        p El explica claramente cada episodio y encuentro todo facil
    .testimons
        .testimons__block
            i(class="fas fa-star fa-x" aria-hidden="true").star  4
            h3 ALEJANDRA. 28 DE ENE DE 2021
        p Todo muy bien explicado
    .testimons
        .testimons__block
            i(class="fas fa-star fa-x" aria-hidden="true").star  5
            h3 JOAQUÍN. 5 DE OCT DE 2020
        p  Noté que el profesor que sale en los videos efectivamente es muy bueno
    .testimons
        .testimons__block
            i(class="fas fa-star fa-x" aria-hidden="true").star  5
            h3 MARÍA. 11 DE SEP DE 2020
        p Excelente! Me encanto
    .testimons
        .testimons__block
            i(class="fas fa-star fa-x" aria-hidden="true").star  4
            h3 EDUARDO. 7 DE SEP DE 2021
        p Excelente, a continuar
    //- .testimons
    //-     .testimons__block
    //-         i(class="fas fa-star fa-x" aria-hidden="true").star  5
    //-         h3 ALEJANDRA. 28 DE ENE DE 2021
    //-     p Un poco basico pero todo muy bien explicado
    //- .testimons
    //-     .testimons__block
    //-         i(class="fas fa-star fa-x" aria-hidden="true").star  4
    //-         h3 JHONATHAN. 9 DE DIC DE 2021
    //-     p Me gustó mucho