footer.warranty
    .warranty__blocks.mx1024
        .warranty__block
            h3 100% Garantía de Satisfacción de 7-Días
            p Si pasado 7 días nuestro programa no cumple su promesa puedes solicitar el reembolso y lo haremos sin hacer ningún tipo de preguntas.
        .warranty__blocks
            img(src="./img/amex.png" rel="" alt="")
            img(src="./img/visa.png" rel="" alt="")
            img(src="./img/paypal.png" rel="" alt="")
            img(src="./img/master.png" rel="" alt="")
            img(src="./img/hotmart.png" rel="" alt="")
            img(src="./img/warranty.png" rel="" alt="")