footer.warranty
    .warranty__blocks.mx1024
        .warranty__block
            h3 100% Garantía de Satisfacción de 7-Días
            p Si pasado 7 días nuestro programa no cumple su promesa puedes solicitar el reembolso y lo haremos sin hacer ningún tipo de preguntas.
        .warranty__blocks
            img(src="./img/amex.png" alt="Sushi Founder, hacer sushi en casa pago con American Express")
            img(src="./img/visa.png" alt="Sushi Founder, hacer sushi en casa pago con Visa card")
            img(src="./img/paypal.png" alt="Sushi Founder, hacer sushi en casa pago con PayPal")
            img(src="./img/master.png" alt="Sushi Founder, hacer sushi en casa pago con Mastercard")
            img(src="./img/hotmart.png" alt="Sushi Founder, hacer sushi en casa pago con Hotmart")
            img(src="./img/warranty.png" alt="Sushi Founder, hacer sushi en casa pago con Garantía")